    * {
        padding: 0;
        background-color: white;
    }
    
    .jumbotron {
        background-color: white;
    }
    
    .header {
        margin: 0 0;
        text-align: center;
    }
    
    #contacts {
        align-items: center;
        align-self: center;
        width: 50%;
        margin-top: 20px;
    }
    
    label {
        color: lightskyblue;
        font-weight: 200;
    }
    
    #goal {
        text-emphasis: none;
        margin: 10px 0;
        font-size: 1em;
    }
    
    button {
        background-color: red;
        color: white;
    }
    
    #submit {
        margin-top: 30px;
    }
    
    #mission {
        margin-top: 20px;
    }
    
    .title {
        font-size: larger;
        font-size: 3em;
        color: red;
    }
    
    img {
        width: 400px;
        height: 400px;
    }
    
    #projects {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    
    #btn {
        margin-top: 2em;
        margin-left: 20px;
        align-self: center;
    }
    
    .splitscreen {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }
    
    .center-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
    }
    
    #projects .card {
        padding: 20px;
        text-align: center;
    }
    
    labels {
        background: #66FCF1;
    }
    
    #bghistory {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    
    @media(max-width:732px) {
        img {
            width: 100%;
        }
        .title {
            font-size: 1em;
        }
        #projects {
            display: flex;
            flex-direction: column;
        }
        .splitscreen {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 0;
        }
        #contacts {
            align-items: center;
            align-self: center;
            width: 50%;
        }
    }